@{
  Layout = "_Layout";
}

@model AthleteTracker.Models.Athlete

<h4>Add a new athlete</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.Label("Select sponsor")
    @Html.DropDownList("SponsorId")

    @Html.Label("Select sport")
    @Html.DropDownList("SportId")

    @Html.Label("Date went pro")
    @Html.TextBoxFor(model => model.Date, new { type="date"})

    <input type="submit" value="Add new athlete" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all athletes", "Index")</p>